<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/Admin/Components/remote-service.html" />

<polymer-element name="category-editor">
    <template>
        <remote-service id="service"
                        service="CategoryService"
                        methods="getAll|deleteById|save">
        </remote-service>
        <div layout horizontal flex>
            <core-menu class="secondary-menu">
                <core-item icon="dashboard">Quản lý</core-item>
                <core-item icon="sort">Sắp xếp</core-item>
            </core-menu>
            <div flex>
                <div class="table">
                    <div class="title">Danh mục sản phẩm</div>
                    <div class="body">
                        <div class="header">
                            <div>#id</div>
                            <div>Name</div>
                            <div class="action">
                                <core-icon-button icon="add"></core-icon-button>
                            </div>
                        </div>
                        <template repeat="{{ item in data }}">
                            <div class="row">
                                <div>{{ item }}</div>
                                <div class="editor">Thời trang mẹ và bé</paper-input></div>
                                <div class="action" layout horizontal>
                                    <core-icon-button icon="create"></core-icon-button>
                                    <core-icon-button icon="delete"></core-icon-button>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({

            data: [1, 2, 3, 4, 5],

            ready: function() {
                var categoryService = this.$.service;
                var controller = this;

                categoryService.getAll()
                        .onSuccess(function(data) {
                    controller.data = data;
                });
            }
        });
    </script>
</polymer-element>