<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />

<polymer-element name="remote-service" attributes="serviceName methods">
    <template>
    </template>
    <script>


        // an asynchronous operation
        function AsyncOperation() {

            // set on success
            this.onSuccess = function(handler) {
                this.handler = handler;
            }
        }

        Polymer({
            // list of methods
            methods: "",

            // start working
            ready: function () {
                if (this.methods != undefined) {
                    var methods = this.methods.split(";");
                    for (var i = 0; i < methods.length; i++) {
                        var method = methods[i];
                        this.defineMethod(method);
                    }
                }
            },

            // define a method
            defineMethod: function(method) {
                this[method] = function() {
                    var handler = new AsyncOperation();
                    return handler;
                }
            }
        });
    </script>
</polymer-element>